* {
    background-color: #FF0000;
}
.retrochips {
    font-family: Retrochips;
}
.btn {
    background-color: #F1F2EB;
    border: none;
    color: navy;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 1s;
    float: left;
    margin-bottom: 5px;
}
.btn:hover {
    background-color: black;
    color: white;
}
.shopimage {
    width: 70%;
    opacity: 90%;
}